/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: disc;
  margin-left:30px;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 2px;
  border: 2px solid black;
}
td, tr, th {
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
}
.container {
  max-width: 1271px;
  margin: 0 auto;
}
.navbar {
  padding: 1rem 2rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.navbar .name {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}
.navbar .name a {
  color: white;
}
.navbar .name .org {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
}
.navbar .actions {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  padding-top: 1rem;
  padding-right: 1rem;
}
.navbar .actions .link {
  margin-left: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}
.navbar .actions .link a {
  color: rgba(255, 255, 255, 0.6);
}
.navbar .actions .link a:hover {
  color: white;
}
.navbar.white {
  background-color: white;
}
.navbar.white .name {
  color: #254451;
}
.navbar.white .name a {
  color: #254451;
}
.navbar.white .name .org {
  color: #254451;
}
.navbar.white .actions .link a {
  color: #00da9c;
}
@media screen and (max-width: 600px) {
  .navbar .name .org {
    display: block;
    margin-left: 0;
    margin-top: 0.5rem;
    line-height: 1rem;
  }
}
.hero {
  background-color: #0078c5;
  background-image: linear-gradient(-135deg, #0078c5 0%, #004775 100%);
}
.hero .hamster {
  padding: 1rem 2rem 3rem 2rem;
  text-align: center;
}
.hero .hamster img {
  width: 100%;
  max-width: 500px;
}
.hero h3 {
  padding-top: 1.5rem;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}
.hero h3 img {
  height: 30px;
  width: auto;
  margin-right: 0.7rem;
  position: relative;
  top: 0.4rem;
}
.hero p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
  padding: 1rem 2rem 0 2rem;
  line-height: 2rem;
}
.hero p strong {
  font-weight: 700;
}
.content {
  background-color: white;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.content.blue {
  background-color: #364449;
  color: white;
}
.content.blue h2 {
  color: white;
}
.content.blue p {
  color: rgba(255, 255, 255, 0.8);
}
.content .wrapper-details {
  padding: 2rem 2.5rem;
}
.content .details .points {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.content .details .points .point {
  padding-top: 1rem;
  border-bottom: 1px solid #e7f4f9;
}
.content .details .points .point:last-child {
  border-bottom: 0;
}
.content .terminal {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.content .terminal img {
  width: 100%;
}
.footer {
  background-color: #254451;
  padding: 2rem;
  color: white;
}
.footer h3 {
  text-align: center;
  color: white;
  margin-bottom: 0;
}
.footer h3 img {
  height: 30px;
  width: auto;
  margin-right: 0.7rem;
  position: relative;
  top: 0.4rem;
}
.footer .footer-links {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.footer .footer-links .link {
  margin-right: 0.7rem;
}
.footer .copyright {
  text-align: center;
  margin-top: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 960px) {
  .details,
  .terminal {
    width: 100%;
  }
  .wrapper-terminal {
    padding: 0 2rem 2rem 2rem;
  }
}
@media screen and (min-width: 960px) {
  .details {
    width: 60%;
  }
  .terminal {
    width: 40%;
  }
  .wrapper-terminal {
    padding: 0 2rem 0 0;
  }
}
p, 
li {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #0077a8;
}
h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #0077a8;
}
a {
  color: #00da9c;
  text-decoration: none;
}
a:hover {
  color: #00f3ae;
}
body {
  font-family: "Helvetica Neue", Segoe UI, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #254451;
  background-color: #e7f4f9;
}
