# Owners (in alphabetical order)
# Note: This is only for the notaryproject/notary repo and includes the Org level maintainers
* @hukeping @jonnystoten @justincormack @niazfk @priteshbandi @shizhMSFT @stevelasker @toddysm