# Owners (in alphabetical order)
# Note: This is only for the notaryproject/notary repo and includes the Org level maintainers
* @hukeping @jonnystoten @niazfk @priteshbandi @shizhMSFT @toddysm @vaninrao10 @yizha1