# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Notary
description: > # this means to ignore newlines until "baseurl:"
  Documentation on using the OSS Notary Signing Platform
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: docker
github_username:  docker

# Build settings
markdown: kramdown
kramdown:
  input: GFM
  html_to_native: true
  hard_wrap: false
  syntax_highlighter: rouge
#theme: minima
incremental: true
gems:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-seo-tag
exclude:
  - Gemfile
  - Gemfile.lock
  - Dockerfile
  - README.md
defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: default
